/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------------------------------------------

PROJECT STYLES

------------------------------------------------------------------------------*/

:root {
  --purple: #8459E0;
  --blue: #1AA8C4;
  --acqua: #52C7BE;
  --green: #AFE048;
  --yellow: #E9EC33;
  --rose: #E34069;
  --darker: #1B1B1A;
  --dark-bk: #252423;
  --dark-fg: #383737;
  --dark-ln: #0D0D0C;
  --light:#F6F4F2;
  --light-txt: #E0E5E0;
  --faded: #7C7C7B;
  --gray-ln: #B8B6B4;
}


body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns:
    1fr 2fr;
  grid-template-rows:
    40px
    minmax(900px, 1fr)
    minmax(620px, 1fr)
    minmax(400px, 800px)
    40px;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  min-width: 960px;
  max-width: 960px;
  margin: auto;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  background-color: var(--dark-bk);
}


/* NAVIGATION STYLES
---------------------------------------------------------*/
em {
  color: var(--rose);
}

nav {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 2000;
  /* visibility: hidden; */
}

#nav-bar {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-area: inherit;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  background-color: var(--dark-bk);
}

#logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: left;
  align-self: center;
  padding-left: 60px;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--rose);
}

#home {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--light);
}

#demo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
  align-self: center;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--light);
}

#about {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  justify-self: center;
  align-self: center;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--light);
}

#home:hover, #demo:hover, #about:hover {
  color: var(--rose);
}


/* HERO AREA STYLES
---------------------------------------------------------*/
#hero-area {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr minmax(420px, 5fr) 1fr;
  grid-template-rows: minmax(500px, 2fr) 1fr;
  grid-gap: 20px;
}

.video-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 40px;
}

#legend-container {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-template-rows: 2fr 2fr;
  display: grid;
  border-radius: 6px;
  margin-top: 60px;
  margin-bottom: 60px;
}

#intro-heading {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-size: 52px;
  letter-spacing: 1px;
  justify-self: center;
  align-self: end;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--light);
}

#site-legend {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 18.5px;
  line-height: 1.2;
  justify-self: center;
  align-self: end;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--light);
}




/* CONTENT AREA STYLES
---------------------------------------------------------*/
#sticky-content {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#content-area {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--light);
  border-radius: 6px;
  height: 720px;
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  grid-template-rows: 50px repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 8px;
  overflow: scroll;
  position: sticky;
  top: 0;
}

.heading-style {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: var(--dark-bk);
  justify-self: left;
  align-self: center;
  margin-left: 20px;
}

.reg-copy {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--dark-bk);
  justify-self: left;
  align-self: center;
  line-height: 1.2;
  margin-left: 20px;
  margin-right: 20px;
}

b {
  box-sizing: border-box;
  font-family: input-mono-compressed, monospace;
  font-weight: 300;
  font-size: 16px;
  background-color: var(--light-txt);
  border-radius: 2px;
  padding: 8px;
  margin-left: 4px;
  margin-right: 4px;
  line-height: 4;
}

.tutorial-end-container{
  margin-top: 40px;
  padding-top: 60px;
  /* padding-bottom: 200px; */
  background-color: var(--dark-fg);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.dark-heading-style {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: var(--light);
  justify-self: left;
  align-self: center;
  margin-left: 20px;
  margin-right: 20px;
}

.tutorial-end {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--light);
  justify-self: left;
  align-self: center;
  line-height: 1.2;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 6px;
}

a {
  color: inherit;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* MATH EDITOR STYLES
---------------------------------------------------------*/
#sticky-area {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  border-radius: 6px;
  font-family: proxima-nova, sans-serif;
  background-color: var(--dark-bk);
}

#app-container {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 720px;
  display: grid;
	grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-radius: 6px;
  background-color: var(--dark-fg);
  position: sticky;
  top: 0;
  overflow: scroll;
}

#editor-screen {
  grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
	grid-template-columns:
		minmax(40px, 64px) minmax(300px, 1fr) minmax(40px, 64px);
  grid-template-rows:
    minmax(20px, 40px)
    repeat(8, minmax(80px, 1fr))
    minmax(20px, 40px);
  background-color: var(--dark-fg);
  border-radius: 6px;
}

#display-field {
  grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
  grid-row-end: 8;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
  align-content: start;
  grid-auto-flow: row;
  max-height: 480px;
  overflow: scroll;
  background-color: var(--dark-fg);
  border-radius: 6px;
  box-shadow: 0px 20px 30px -20px rgba(0,0,0,0.4);
}

#editor-drawer {
  grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 8;
  grid-row-end: 10;
	display: grid;
	grid-template-columns:
		minmax(40px, 64px) minmax(300px, 1fr) minmax(40px, 64px);
	grid-template-rows:
		minmax(20px, 24px) minmax(100px, 1fr) minmax(20px, 24px);
    background-color: var(--dark-fg);
}

#current-name {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-size: 12px;
  color:var(--rose);
  border-color: var(--rose);
  /* visibility: hidden; */
}

#drawer-feedback {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
  align-self: center;
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-size: 12px;
  color:var(--rose);
  border-color: var(--rose);
  /* visibility: hidden; */
}

#drawer-feedback:hover {
  font-size: 18px;
}

.mq-math-mode .mq-text-mode {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 100;
}

#user-input {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  max-height: 112px;
  overflow: scroll;
	padding-left: 8px;
  padding-right: 6px;
  border-radius: 6px;
  border: transparent;
  background-color: var(--dark-bk);
  box-shadow: none;
  color:var(--light-txt);
  border-color: var(--light-txt);
  box-shadow: 0px 10px 30px -20px rgba(0,0,0,0.4);
}

#user-input .mq-root-block {
  max-height: 112px;
  overflow: scroll;
}

.card-box {
  display: grid;
  grid-template-columns: 1fr 30px;
}

.math-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  align-content: center;
	justify-content: left;
  padding-left: 8px;
	padding-right: 4px;
	border: transparent;
	border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: var(--dark-bk);
  box-shadow: none;
  color:var(--light-txt);
  border-color: var(--light-txt);
}

.math-container .mq-root-block {
  max-height: 80px;
  overflow: scroll;
}

.delete-x {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  align-content: center;
	justify-content: left;
	min-height: 80px;
	border: transparent;
	border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-family: input-mono-compressed, monospace, sans-serif;
  font-size: 18px;
  background-color: var(--dark-bk);
  color:var(--faded);
  border-color: var(--faded);
}

.delete-x:hover {
  color:var(--light-txt);
  border-color: var(--light-txt);
}

.delete-x:active {
  color:var(--light-txt);
  border-color: var(--light-txt);
  background-color: var(--darker);
}

.mq-hasCursor {
  color:var(--light-txt);
  border-color: var(--light-txt);
}

.mq-binary-operator {
  color:var(--green);
  border-color: var(--green);
}

.constants {
  color:#81D6CF;
  border-color: #81D6CF;
}

.common-vars {
  color: var(--blue);
  border-color: var(--blue);
}

.other-vars {
  color: var(--yellow);
  border-color: var(--yellow);
}

.common-symbols {
  color: var(--purple);
  border-color: var(--purple);
}

.other-symbols {
  color: var(--light-txt);
  border-color: var(--light-txt);
}

.vanilla {
  color: var(--rose);
  border-color: var(--rose);
}

.grumps {
  color: var(--rose);
  border-color: var(--rose);
}

/* ABOUT AREA STYLES
---------------------------------------------------------*/
#about-area {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: var(--dark-bk);
}

#mim-meaning {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  margin-top: 100px;
}

#about-heading {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: var(--light);
  align-self: baseline;
  text-align: left;
  justify-self: center;
  margin-bottom: 240px;
}

.about-copy {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--light);
  justify-self: right;
  align-self: baseline;
  line-height: 1.4;
  margin-left: 20px;
  margin-right: 20px;

}

#about-copy-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  align-self: top;
  margin-top: 130px;
}

#dev-team {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  color: var(--faded);
  align-self: start;
  margin-top: 132px;
  margin-left: 20px;
}
